<!DOCTYPE html>
<html>
  <head>
    <title>
      HikersApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="title">The hiker elements for you body are: </h1>
      <br>
	    <h1 class="title"><%= data %></h1>
    </div>
    
  </body>
</html>
